﻿<tr>
    <td>
        {{ErrorType}}
    </td>
    <td>
        {{ErrorMessage}}
    </td>
    <td>
        {{MemberID}}
    </td>
    <td>
        {{MoodleID}}
    </td>
    <td>
        {{MeetCode}}
    </td>
    <td>
        {{MoodleEventId}}
    </td>
</tr>